# Backend dependencies
/backend/node_modules/

# Backend environment variables
/backend/.env

# Logs
/backend/*.log

#files
/backend/createAdmin.js
/backend/addUser.js
/backend/addProducts.js


#/frontend/node_modules/